.container {
    padding: 50px;
    display: flex;
    align-items: center;
    gap: 50px;
}

.imageContainer {
    flex: 1;
    height: 350px;
    position: relative;
}

.textContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.image {
    object-fit: cover;
}

.date {
    font-size: 0.8rem;
    color: var(--softTextColor);
}

.category.style {
    color: rgba(255, 38, 0, var(--oppOpacity));
    /* Tomato */
}

.category.coding {
    color: rgba(0, 140, 255, var(--oppOpacity));
    /* SteelBlue */
}

.category.culture {
    color: rgba(0, 255, 0, var(--oppOpacity));
    /* LimeGreen */
}

.category.travel {
    color: rgba(0, 247, 255, var(--oppOpacity));
    /* OrangeRed */
}

.category.food {
    color: rgba(255, 255, 0, var(--oppOpacity));
    /* Orange */
}

.readMore.style {
    border-bottom: 1px solid rgba(255, 38, 0, var(--oppOpacity));
}

.readMore.coding {
    border-bottom: 1px solid rgba(0, 140, 255, var(--oppOpacity));
}

.readMore.culture {
    border-bottom: 1px solid rgba(0, 255, 0, var(--oppOpacity));
}

.readMore.travel {
    border-bottom: 1px solid rgba(0, 247, 255, var(--oppOpacity));
}

.readMore.food {
    border-bottom: 1px solid rgba(255, 255, 0, var(--oppOpacity));
}


.title {
    font-size: 24px;
    font-weight: 500;
    color: var(--textColor);
}

.readMore {
    font-size: 15px;
    font-weight: 500;
    color: var(--softTextColor);
    width: fit-content;
}

.desc {
    font: 18px;
    font-weight: 300;
    color: var(--softTextColor);
}