/*!*******************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[3]!./src/components/themeToggle/themeToggle.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************/
.themeToggle_container__qFM4I {
    width: 26px;
    height: 26px;
    border-radius: 50px;
    margin-bottom: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--softBg);
    border: 1px solid var(--textColor);
}
/*!*********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[3]!./src/components/navbar/navbar.module.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************/
.navbar_container__CZncu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg);
    height: 70px;
    padding: 0 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, var(--opacity));
}

/* Social Media Icons */
.navbar_social__Zhp3T {
    display: flex;
    flex: 1 1;
    gap: 10px;
    color: var(--textColor);
}

/* Logo */
.navbar_logo__uZP7g {
    font-size: 1.5rem;
    font-weight: 700;
    flex: 2 1;
    color: var(--textColor);
    text-align: center;
}

/* Links */
.navbar_links__zwFDW {
    align-items: center;
    display: flex;
    font-size: 18px;
    flex: 1 1;
    gap: 18px;
}

/* Dropdown Menu */
.navbar_dropdown__HucsX {
    display: none;
    position: absolute;
    top: 80px;
    left: 0;
    width: 80%;
    background-color: var(--bg);
    box-shadow: 0 2px 4px rgba(0, 0, 0, var(--opacity));
    z-index: 1000;
    flex-direction: column;
    padding: 20px;
}

.navbar_dropdownContent__Lnsfs {
    display: flex;
    flex-direction: column;
    font-size: xx-large;
    font-weight: 500;
    gap: 10px;
}

.navbar_dropdownItem__UOcu2 {
    padding: 10px;
    color: var(--textColor);
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
}

.navbar_dropdownSocail__cyiRB {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: medium;
    gap: 10px;
    color: var(--textColor);
}

.navbar_dropdownItem__UOcu2:hover {
    background-color: var(--softBg);
}

/* Menu Button */
.navbar_menuButton__lmNGg {
    background: none;
    border: none;
    color: var(--textColor);
    font-size: 24px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.navbar_menuButton__lmNGg.navbar_open__HM_C4 {
    transform: rotate(90deg);
}

/* Container for icons and children */
.navbar_iconContainer__7uxk_ {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.navbar_iconContainer__7uxk_ button {
    display: none;
}

/* Responsive Styles */
@media screen and (max-width: 1280px) {
    .navbar_logo__uZP7g {
        font-size: 1.4rem;
    }

    .navbar_links__zwFDW {
        font-size: 16px;
        gap: 15px;
    }
}

@media screen and (max-width: 1024px) {
    .navbar_logo__uZP7g {
        font-size: 1.1rem;
    }

    .navbar_links__zwFDW {
        font-size: 14px;
        gap: 10px;
    }
}

@media screen and (max-width: 768px) {
    .navbar_links__zwFDW {
        display: none;
    }

    .navbar_social__Zhp3T {
        display: none;
    }

    .navbar_dropdown__HucsX {
        display: flex;
    }

    .navbar_iconContainer__7uxk_ button {
        display: flex;
    }
}
/*!***************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[3]!./src/components/menuPosts/menuPosts.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************/
.menuPosts_items__zCzFu {
    margin-top: 35px;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.menuPosts_item__FYpEz {
    display: flex;
    align-items: center;
    gap: 20px;
}

.menuPosts_imageContainer__XG76w {
    flex: 1 1;
    aspect-ratio: 1/1;
    position: relative;
}

.menuPosts_image__IA3eB {
    border-radius: 50%;
    border: 3px solid lightgray;
    object-fit: cover;
}

.menuPosts_textContainer__au0GC {
    flex: 4 1;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.menuPosts_category__Aonfr {
    padding: 3px 8px;
    border-radius: 10px;
    font-size: 12px;
    color: white;
    width: max-content;
}

.menuPosts_category__Aonfr.menuPosts_travel__mQpLL {
    background-color: #ff7857;
}

.menuPosts_culture__pFTSR {
    background-color: #ffb14f;
}

.menuPosts_food__s3FgX {
    background-color: #7fb881;
}

.menuPosts_fashion__CLcq8 {
    background-color: #ff7887;
}

.menuPosts_coding__gPTWe {
    background-color: #775aec;
}

.menuPosts_style__2TsaX {
    background-color: #789cff;
}

.menuPosts_postTitle___KHVw {
    font-size: 18px;
    font-weight: 500;
    color: var(--softTextColor);
}

.menuPosts_detail__kP_z0 {
    font-size: 12px;
}

.menuPosts_date__ioevs {
    color: gray;
}
/*!**************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[3]!./src/components/menuCatergories/menuCategories.module.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************/
.menuCategories_categoryList__9_1jC {
    margin-top: 35px;
    margin-bottom: 60px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.menuCategories_categoryItem__xWWwl {
    padding: 10px 25px;
    border-radius: 10px;
    font-size: 14px;
}


.menuCategories_categoryItem__xWWwl.menuCategories_style__sP0zs {
    background-color: rgba(255, 38, 0, 0.5);
    /* Tomato */
}

.menuCategories_categoryItem__xWWwl.menuCategories_coding__YnZ4I {
    background-color: rgba(0, 140, 255, 0.5);
    /* SteelBlue */
}

.menuCategories_categoryItem__xWWwl.menuCategories_culture__WutCk {
    background-color: rgba(0, 255, 0, 0.5);
    /* LimeGreen */
}

.menuCategories_categoryItem__xWWwl.menuCategories_travel__R9OxW {
    background-color: rgba(0, 247, 255, 0.5);
    /* OrangeRed */
}

.menuCategories_categoryItem__xWWwl.menuCategories_food__azZ_6 {
    background-color: rgba(255, 255, 0, 0.5);
}
/*!*****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[3]!./src/components/menu/menu.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************/
.menu_container__jTKJp {
    flex: 2 1;
    margin-top: 60px;
}

.menu_subtitle__J7xJj {
    color: gray;
    font-size: 16px;
    font-weight: 400;
}

.menu_title__QQ7Zn {
    font-size: 28px;
}


@media screen and (max-width: 1024px) {
    .menu_container__jTKJp {
        display: none;
    }
}
/*!*********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[3]!./src/components/footer/footer.module.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************/
.footer_container__cL_uA {
    margin-top: 50px;
    padding: 20px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--softTextColor);
}

.footer_info__uKSJc {
    flex: 1 1;
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.footer_logo__pe9i3 {
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer_logoText__QUSlJ {
    font-size: 24px;
}

.footer_desc__4TFpC {
    font-weight: 300;
}

.footer_icons__owG1o {
    margin-top: 10px;
    display: flex;
    gap: 10px;
}

.footer_links__t81SU {
    flex: 1 1;
    display: flex;
    justify-content: flex-end;
    gap: 100px;
}

.footer_list__TA6Rj {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-weight: 300;
}

.footer_listTitle__wUBPu {
    font-weight: bold;
}

@media screen and (max-width: 1024px) {
    .footer_links__t81SU {
        gap: 50px;
    }
}

@media screen and (max-width: 768px) {
    .footer_container__cL_uA {
        flex-direction: column;
        gap: 50px;
    }

    .footer_links__t81SU {
        width: 100%;
        justify-content: space-between;
    }
}

@media screen and (max-width: 640px) {
    .footer_links__t81SU {
        font-size: 14px;
    }
}
/*!*****************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[3]!./src/components/pagination/pagination.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************/
.pagination_container__MjtB3 {
    display: flex;
    justify-content: space-between;
    margin: 0px 25px;
    padding-bottom: 10px;
}

.pagination_button__EHYZp {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    background: crimson;
    color: white;
}
/*!*************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[3]!./src/components/featured/featured.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************/
.featured_container__9bUI6 {
    margin-top: 30px;
}

.featured_title__rFWcP {
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
    font-size: 96px;
    font-weight: 400;
}

.featured_post__sWkzO {
    margin-top: 60px;
    display: flex;
    align-items: center;
    gap: 50px;
}

.featured_imgContainer__phBYF {
    flex: 1 1;
    position: relative;
    width: 100%;
    height: 500px;
}

.featured_image__s8EnU {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.featured_textContainer__KZ18s {
    flex: 1 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.featured_postTitle__juEkV {
    font-size: 40px;
}

.featured_postDesc__wsFpz {
    font-size: 20px;
    font-weight: 300;
    color: var(--softTextColor);
}

.featured_button__ufmSY {
    padding: 16px 20px;
    border: none;
    border-radius: 8px;
    color: var(--textColor);
    background-color: var(--bg);
    outline: var(--textColor);
    max-width: -moz-fit-content;
    max-width: fit-content;
    outline-style: solid;
    outline-width: 1px;
}

@media screen and (max-width: 1280px) {
    .featured_title__rFWcP {
        font-size: 72px;
    }
}

@media screen and (max-width: 1024px) {
    .featured_title__rFWcP {
        font-size: 48px;
    }

    .featured_imgContainer__phBYF {
        width: 100%;
        height: 400px;
        /* Adjust height for medium screens */
    }


    .featured_postTitle__juEkV {
        font-size: 32px;
    }

    .featured_postDesc__wsFpz {
        font-size: 16px;
    }
}

@media screen and (max-width: 768px) {
    .featured_title__rFWcP {
        font-size: 32px;
    }

    .featured_imgContainer__phBYF {
        width: 100%;
        height: 300px;
        /* Adjust height for small screens */
    }


    .featured_postTitle__juEkV {
        font-size: 24px;
    }

    .featured_postDesc__wsFpz {
        font-size: 14px;
    }
}

@media screen and (max-width: 640px) {
    .featured_title__rFWcP {
        font-size: 28px;
    }

    .featured_post__sWkzO {
        flex-direction: column;
        margin-top: 20px;
        gap: 20px;
    }

    .featured_imgContainer__phBYF {
        aspect-ratio: 16/9;
        height: 300px;
        width: 450px;
    }

    .featured_button__ufmSY {
        padding: 12px 16px;
    }

    .featured_postTitle__juEkV {
        font-size: 18px;
    }

    .featured_postDesc__wsFpz {
        font-size: 12px;
    }
}
/*!*********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[3]!./src/components/categoryList/categoryList.module.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************/
.categoryList_container__s6HpR {}

.categoryList_title__8DsfE {
    margin: 50px 0px;
}

.categoryList_categories__JjFld {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.categoryList_category__kGfZ1 {
    display: flex;
    align-items: center;
    gap: 5px;
    border-radius: 12px;
    text-transform: capitalize;
    width: 15%;
    height: 80px;
    justify-content: center;
}

/* Specific background colors for each category */
.categoryList_category__kGfZ1.categoryList_style__BIpo_ {
    background-color: rgba(255, 38, 0, 0.5);
    /* Tomato */
}

.categoryList_category__kGfZ1.categoryList_coding__nDVNj {
    background-color: rgba(0, 140, 255, 0.5);
    /* SteelBlue */
}

.categoryList_category__kGfZ1.categoryList_culture__N8ciR {
    background-color: rgba(0, 255, 0, 0.5);
    /* LimeGreen */
}

.categoryList_category__kGfZ1.categoryList_travel__gnqt1 {
    background-color: rgba(0, 247, 255, 0.5);
    /* OrangeRed */
}

.categoryList_category__kGfZ1.categoryList_food__AaDJS {
    background-color: rgba(255, 255, 0, 0.5);
    /* Orange */
}

.categoryList_image__DU_oJ {
    border-radius: 50%;
}

@media screen and (max-width: 1280px) {
    .categoryList_category__kGfZ1 {
        width: 20%;
    }
}

@media screen and (max-width: 1024px) {
    .categoryList_category__kGfZ1 {
        width: 30%;
    }
}

@media screen and (max-width: 768px) {
    .categoryList_category__kGfZ1 {
        width: 48%;
    }
}

@media screen and (max-width: 640px) {
    .categoryList_category__kGfZ1 {
        width: 100%;
    }

}
/*!*****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[3]!./src/components/card/card.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************/
.card_container__xBy9R {
    padding: 0px 50px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 50px;
}

.card_imageContainer__0rYcM {
    flex: 1 1;
    height: 350px;
    position: relative;
}

.card_image__5mzyB {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.card_textContainer__uD6_C {
    flex: 1 1;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 640px;
}

.card_date__IWhCo {
    font-size: 0.8rem;
    color: gray;
    align-items: self-start;
}

.card_category__QmWQb {
    color: crimson;
    font-weight: 500;
}

.card_title__WCIHg {
    font-size: 20px;
    font-weight: 500;
    color: var(--textColor);
}

.card_desc__hMM2S {
    font-size: 16px;
    font-weight: 300;
    color: var(--softTextColor);
}

.card_link__yV43X {
    font-size: 14px;
    font-weight: 500;
    color: var(--softTextColor);
    width: -moz-fit-content;
    width: fit-content;
}

/* Media query for large devices */
@media screen and (max-width: 1280px) {
    .card_title__WCIHg {
        font-size: 18px;
    }

    .card_desc__hMM2S {
        font-size: 14px;
    }

    .card_link__yV43X {
        font-size: 12px;
    }
}

/* Media query for medium devices */
@media screen and (max-width: 1024px) {
    .card_title__WCIHg {
        font-size: 16px;
    }

    .card_desc__hMM2S {
        font-size: 14px;
    }

    .card_link__yV43X {
        font-size: 12px;
    }
}

/* Media query for small devices */
@media screen and (max-width: 768px) {}

/* Media query for extra small devices */
@media screen and (max-width: 640px) {
    .card_container__xBy9R {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }

    .card_imageContainer__0rYcM {
        width: 100%;
        height: auto;
        aspect-ratio: 1/1;
    }

    .card_image__5mzyB {
        width: 100%;
        height: auto;
    }

    .card_textContainer__uD6_C {
        width: 100%;
        margin-bottom: 10px;
    }

    .card_detail__BNk_z {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
    }

}
/*!*************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[3]!./src/components/cardList/cardList.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************/
.cardList_container__tWwXs {
    flex: 5 1;
    border-radius: 12px;
    background-color: var(--bg);
    height: -moz-fit-content;
    height: fit-content;
    box-shadow: 0 0 10px rgba(0, 0, 0, var(--opacity));
    margin: 50px 0;
}

.cardList_title__fyoKM {
    padding: 15px;
}
/*!*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[2].use[1]!./node_modules/next/dist/build/webpack/loaders/next-font-loader/index.js??ruleSet[1].rules[5].oneOf[2].use[2]!./node_modules/next/font/google/target.css?{"path":"src\\app\\layout.js","import":"Inter","arguments":[{"subsets":["latin"]}],"variableName":"inter"} ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
/* cyrillic-ext */
@font-face {
  font-family: '__Inter_d65c78';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/_next/static/media/55c55f0601d81cf3-s.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: '__Inter_d65c78';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/_next/static/media/26a46d62cd723877-s.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: '__Inter_d65c78';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/_next/static/media/97e0cb1ae144a2a9-s.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: '__Inter_d65c78';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/_next/static/media/581909926a08bbc8-s.woff2) format('woff2');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* vietnamese */
@font-face {
  font-family: '__Inter_d65c78';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/_next/static/media/df0a9ae256c0569c-s.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: '__Inter_d65c78';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/_next/static/media/6d93bde91c0c2823-s.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: '__Inter_d65c78';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/_next/static/media/a34f9d1faa5f3315-s.p.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}@font-face {font-family: '__Inter_Fallback_d65c78';src: local("Arial");ascent-override: 90.20%;descent-override: 22.48%;line-gap-override: 0.00%;size-adjust: 107.40%
}.__className_d65c78 {font-family: '__Inter_d65c78', '__Inter_Fallback_d65c78';font-style: normal
}

/*!***************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[12].use[3]!./src/app/globals.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************/
:root {
    --bg: white;
    --textColor: black;
    --softBg: #f0f0f0;
    --softTextColor: #626262;
    --opacity: 0.1;
    --ballPosition: 1px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 100vw;
    /* background-color: var(--bg); */
    color: var(--textColor);
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

.dark {
    --bg: #08080a;
    --textColor: white;
    --softBg: #333;
    --softTextColor: #585858;
    --opacity: 0.2;
    --oppOpacity: 0.8;
    --ballPosition: 22px;
}

.light {
    --bg: rgb(233, 233, 233);
    --textColor: black;
    --softBg: rgb(182, 182, 182);
    --softTextColor: #626262;
    --opacity: 0.1;
    --oppOpacity: 0.9;
    --ballPosition: 1px;
}

.container {
    min-height: 100vh;
    /* background-color: var(--bg); */
    color: var(--textColor);
}

.wrapper {
    max-width: 1536px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 80px;
}

@media screen and (max-width: 768px) {
    .wrapper {
        max-width: 1366px;
        padding: 0 60px;
    }
}

@media screen and (max-width: 1280px) {
    .wrapper {
        max-width: 1024px;
        padding: 0 40px;
    }
}

@media screen and (max-width: 1024px) {
    .wrapper {
        max-width: 768px;
        padding: 0 20px;
    }
}

@media screen and (max-width: 768px) {
    .wrapper {
        max-width: 640px;
    }
}

@media screen and (max-width: 640px) {
    .wrapper {
        max-width: 475px;
        padding: 0 20px;
    }
}
